<%- include('../partials/header') %>

<div class="container">
  <button class="btn btn-primary mt-2">
    <a href="/posts/new">Add New Post</a>
  </button>
  <br />

  <div class="row">
    <% post.forEach(function(p) { %>
    <div class="col">
      <div class="shadow card mt-3">
        <div class="card-header text-center">
          <h4><%= p.title %></h4>
        </div>
        <div class="card-body">
          <p><%= p.desc %></p>
          <p>By: <%= p.user[0].name %></p>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>

<%- include('../partials/footer') %>
